.buttongroup {
	display: flex;
	/* justify-content: space-between; */
	gap: 1rem;
	margin-bottom: 15px;
}

.statusIndicator {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 8px;
}

.statusSpeaking {
	background-color: #23d441;
}
.statusPausing {
	background-color: #f6c23e;
}

.statusInactive {
	background-color: #e53e3e;
}
.recordingStatus {
	display: flex;
	align-items: center;
	margin-top: 10px;
}
