VITE_DEFAULT_S3_ACCESS_KEY = ""
VITE_DEFAULT_S3_SECRET_KEY = ""
VITE_DEFAULT_S3_BUCKET = ""
VITE_DEFAULT_S3_URL = ""
VITE_DEFAULT_S3_ENDPOINT = ""
VITE_DEFAULT_S3_REGION = ''
VITE_DEFAULT_TRANSCRIPTION_URL = "http://localhost:12313/v1/audio/transcriptions"
VITE_DEFAULT_TRANSCRIPTION_MODEL = ""
VITE_DEFAULT_TRANSCRIPTION_TOKEN = ""
VITE_DEFAULT_OPENAI_API_URL = ""
VITE_DEFAULT_OPENAI_MODEL = ""
VITE_DEFAULT_OPENAI_TOKEN = ""